[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
torchtext = "*"
torchvision = "*"
tensorboard = "*"
tensorflow = "*"
scikit-learn = "*"
tqdm = "*"
spacy = "*"
numpy = "*"
scipy = "*"
six = "*"
pandas = "*"
Keras = "*"
Keras-Applications = "*"
Keras-Preprocessing = "*"
Flask = "*"

[requires]
python_version = "3.6"
